body{
    background-color: rgb(118, 181, 201);
}

h1{
    color: rgb(173, 73, 73);
    text-align: center;
}

h2{
    color:rgb(173, 73, 73);
    text-align: center;
}

.header * {
    border : solid;

}

.header{
    background-color: rgb(199, 218, 115);
    display: flex;
    justify-content: space-between;
 }

 

